extends ./layout/index

block container
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum tristique urna sit amet maximus. Ut blandit neque eu nunc pharetra tristique. Quisque est leo, dapibus sit amet erat laoreet, mattis convallis erat. Nulla ligula ligula, feugiat et faucibus vitae, fringilla sed nulla. Sed quis mollis eros. Etiam ultrices elit elementum augue pulvinar, sit amet dignissim ligula feugiat. Nullam eget scelerisque ligula. Mauris viverra, est vel consectetur ultrices, diam tortor 

                p Cras accumsan sodales elit, id dictum augue rutrum eget. Nulla sit amet libero sit amet tortor facilisis dignissim. Sed volutpat leo in sem malesuada, eu auctor urna finibus. Phasellus venenatis vehicula sapien et venenatis. Morbi non libero vitae felis dignissim consectetur. Phasellus ac ultrices orci. Sed leo magna, viverra maximus bibendum eu, viverra sed ligula. Phasellus sed molestie velit. Quisque iaculis erat nibh, in porta nibh tempor vitae. Mauris interdum ut neque id sollicitudin. 

                p Pellentesque nibh leo, gravida ac felis vel, fermentum mattis purus. Pellentesque at est eget risus accumsan gravida. Aliquam nec lacinia risus, non lobortis ligula. Curabitur vitae massa nec nunc pellentesque pellentesque eu eu orci. Proin quis tellus felis. Mauris semper, sapien sit amet viverra commodo, arcu lectus egestas nibh, eget cursus nibh augue non massa. Nulla facilisi. Proin nunc urna, pretium sit amet venenatis luctus, congue quis tortor. In suscipit dignissim est, et venenatis 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque nibh leo, gravida ac felis vel, fermentum mattis purus. Pellentesque at est eget risus accumsan gravida. 
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque nibh leo, gravida ac felis vel, fermentum mattis purus. Pellentesque at est eget risus accumsan gravida. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Pellentesque nibh leo, gravida ac felis vel, fermentum mattis purus. Pellentesque at est eget risus accumsan gravida. 